:root {
    --lightPink: rgba(230, 100, 100, 0.204);
    --white: rgb(253, 252, 252);
    --darkPink: #c0000073;
    --gray: rgb(102, 102, 102);
    --baige: rgba(229, 183, 145, 0.404);
    --shadow: rgba(73, 73, 73, 0.2);
    --dustyRose: rgb(214, 142, 140);
    --buttonBack: rgb(245, 224, 223);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.myFlex {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.white {
    background-color: var(--white);
}
.shadows {
    box-shadow: 0px 0px 15px 5px var(--shadow);
}
/* Individual element styling */
body {
    background-color: var(--lightPink);
    font-family: 'Unica One', Helvetica, sans-serif;
    height: 100%;
    margin: .4rem .5rem .4rem .5rem;
    font-size: 1.6rem;
}
.container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: .25rem;
    min-height: 100vh;
    position: relative;
    padding-bottom: 3rem;
}
header {
    align-items: center;
    max-width: 1200px;
    flex-wrap: nowrap;
    text-decoration: none;
    padding-top: 2em;
}
a {
    color: var(--gray);
    text-decoration: none;
}

h1 {
    font-size: 1.97rem;
    text-decoration: none;
}
.highlighting {
    background-image: linear-gradient(transparent 60%, var(--baige) 60%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 60% 100%;
    transition: background .35s;
}
a.highlighting:hover {
    background-size: 100% 100%;
}

.myLinks {
    transition: background .30s;
}
.myLinks:hover {
    background: linear-gradient(45deg, #e66465, var(--baige) 60%);
    width: 100%;
    height: 2px;
    background-size: 100% 10%;
    background-repeat: no-repeat;
    background-position: bottom center;
}
main {
    padding: 10px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 3.5rem;
    background-size: 35% 90%;
    background-position: top center;
    margin-top: 2em;
}
h2, .title {
    color: var(--darkPink);
    background-image: linear-gradient(transparent 60%, rgba(230, 100, 100, 0.204) 60%);
    background-repeat: no-repeat;
}
.title {
    background-size: 15% 90%;
    background-position: top center;
}
h3 {
    font-size: 2.75rem;
    margin-bottom: 2rem;
}
h4 {
    font-size: 2.3rem;
    margin-top: 3rem;
}
p, li {
    font-size: 1.8rem;
}
p {
    margin-bottom: 1.5rem;
}
.banner {
    margin: 0;
    font-size: 1.25rem;
}
.info {
    margin-top: 120px;
    background-color: var(--dustyRose);
    padding-top:50px;
    padding-bottom: 60px;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    margin-bottom: 50px;
}
.enhance {
    color: var(--white);
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}
li {
    padding: 10px;
}
button {
    font-family: 'Unica One', serif;
    cursor: pointer;
    padding: .5rem;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px 1px var(--shadow);
    border: 1px solid black;
    border-radius: .25rem;
    background-color: var(--white);
    margin-top: 1em;
}
button:hover {
    background-color: var(--buttonBack);
    color: var(--dustyRose);
    border: 1px solid var(--dustyRose);
    transition: .35s;
}
section.card {
    width: 80%;
}
.card {
    margin: auto;
    border: 2px solid var(--dustyRose);
    margin-top: 10px;
    padding: 30px 0 30px 0;
    max-width: 1000px;
    border-radius: .35rem;
}
article.card {
    width: 40%;
    padding: 10px;
    max-width: 500px;
    min-width: 200px;
}
.projects {
    margin: auto;
    width: 70%;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
#project {
    margin-top: 3rem;
}
.callMe {
    background-color: var(--dustyRose);
    border-radius: .35rem;
    color: var(--white);
    text-align: center;
    width: 95%;
    max-width: 1000px;
    max-height: 1500px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

}
.callContainer {
    align-items: center;
    margin: 0px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 6rem;
}
.callContainer > h4 {
    font-size: 1.7rem;
}
.callContainer > p {
    font-size: 1.3rem;
}
footer {
    padding-top: 6rem;
    background-color: var(--buttonBack);
    text-align: center;
    position: relative;
    margin-left: calc(50% - 50vw);
    width: 100vw;
}
footer > p {
    margin-top: .5rem;
}

button.contact {
    background-color: rgb(214, 142, 140);
    font-family: 'Unica One', serif;
    border: 1px solid white;
    margin-top: 0;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px 1px rgba(138, 137, 137, 0.2);
    color: white;
    z-index: 1;
}

button.contact:hover {
    text-decoration: none;
    background-color: white;
    color: var(--dustyRose);
}
.return {
    font-family: 'Unica One', serif;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px 1px rgba(138, 137, 137, 0.2);
    width: 50px;
    height: 50px;
}

.myInfo {
    margin-left: auto;
    margin-right: auto;
}
hr {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}
.sender {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card > h2 {
    margin-top: 2rem;
}
.myForm {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.senderMessage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto 20px auto;
}
.senderMessage, .sender {
    text-align: left; 
}
textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Unica One', serif;
    font-size: 1rem;
    resize: none;
    border-radius: 4px;
}
input {
    font-family: 'Unica One', serif;
    font-size: 1rem;
    width: 100%;
    border-radius: 4px;
}
.first {
    width: 48%;
}
.second{
    width: 48%;
}
label {
    font-size: 1.4rem;
}
.senderMessage + button {
    font-size: 1.5rem;
}
.contactCard {
    margin-bottom: 0;
    padding-bottom: .25rem;
}
.contactCardFooter{
    margin-top: 0;
    padding-top: 1rem;
}

::selection {
    background-color: var(--darkPink);
}
h2::selection {
    background-color: var(--baige);
}
h3::selection {
    background-color:var(--baige);
}

input, textarea {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
  
  input:focus, textarea:focus {
    -moz-box-shadow: 0 0 5px var(--dustyRose);
    -webkit-box-shadow: 0 0 5px var(--dustyRose);
    box-shadow: 0 0 5px var(--dustyRose);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid var(--dustyRose);
  }


/* --------------- MEDIA QUERIES --------------- */
/* Small devices */
@media (max-width: 670px) {
    html {
        font-size: .5rem;
    }
    .callContainer {
        max-width: 540px;
    }
}
@media (min-width: 1200px) {
    .callContainer {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .callContainer {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .callContainer {
        max-width: 720px;
    }
}
